/* Put your style information here! */

html, body {
    height: 100%;
    overflow-x: hidden;
    }
    
html {
    display: table;
    margin: auto;
    }


body{
    background-color: white;
    display: table-cell;
    text-align: justify;
    padding: 40px;
    font-family: 'Patrick Hand', cursive;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

h1{
    font-size: 45px;
    text-decoration: underline;
    color: black;
    margin-top: 15px;
    margin-bottom: 25px;
}



